body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}

h5 {
    font-weight: 300;
}

h6 {
    font-weight: 300;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.logo {
    
    color: darkslategray;
    font-size: 1.8rem;
    font-weight: 300;
}

.main-content {
    padding-left: 4vw;
    padding-right: 5vw;
}

.top-bar {
    box-shadow: 3px 3px 11px #00000015;
}