{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page - Encyclopedia
{% endblock %}

{% block header %}
    EDIT PAGE
{% endblock %}

<!-- Messages -->
{% block message %}
        {% if messages %}
        <div class="col text-center alert-warning py-1 px-5">
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block body %}
    <!-- Info about formating new entry -->
    <div class="row">
        <div class="col info-bar py-3 px-5">
            <h4>Writing and formatting</h4>
            <p>Please ensure that when writing content for new page, you are using Markdown. Markdown is a lightweight markup language with plain-text-formatting syntax, created in 2004 by John Gruber and Aaron Swartz. Markdown is often used for formatting readme files, for writing messages in online discussion forums, and to create rich text using a plain text editor.            </p>
            <hr>
            <p class="mb-0">For basic writing and formating guide, visit <a href="https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax">GitHub Docs</a>.</p>      
        </div>
    </div>

    <!-- Form with title and content for new entry -->
    <form action="{% url 'encyclopedia:edit_page' %}" method="POST">
        {% csrf_token %}
        <div class="row pt-3 pb-3 px-5">
            <div class="col" style="height: 40vh;">
                <input name="title" class="form-control sharp-border" type="text" id="newPageTitleInput" value="{{ title }}" hidden required>
                <label for="newPageContentInput"><h6>Type Markdown formatted content to edit page content.</h6></label>
                <textarea name="content" style="resize:none; height: 90%;" class="form-control text-field-custom sharp-border" id="newPageContentInput" required>{{ content }}</textarea>
            </div>
        </div>
        <input class="btn btn-outline-success sharp-border ml-5" type="submit" value="Save changes">
    </form>
    
{% endblock %}