{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if entry_title == None %}
        Not found - Encyclopedia
    {% else %}
        {{ entry_title }} - Encyclopedia
    {% endif %}
    
{% endblock %}

{% block body %}

    <!-- Alert messages -->
    {% if messages %}
    <div class="row pb-1">
        <div class="col">
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if entry_title %}
        {{ entry|safe }}
    {% endif %}

{% endblock %}