{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if entry_title == None %}
        Not found - Encyclopedia
    {% else %}
        {{ entry_title }} - Encyclopedia
    {% endif %}
{% endblock %}

{% block header %}
    {{ entry_title|upper }}
{% endblock %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center info-bar py-1">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}

    {% if entry_title %}
    <div class="row px-5">
        <div class="col ">
            {{ entry|safe }}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col pt-3 pb-5 ml-5">
            <form action="{% url 'encyclopedia:edit_page' %}" method="GET">
                {% csrf_token %}
                <div class="input-group mb-2">
                    <input type="text" name="title" value="{{ entry_title }}" hidden>
                    <input class="btn btn-outline-success sharp-border" type="submit" value="Edit page">
                </div>
            </form>
        </div>
    </div>

{% endblock %}