{% extends "encyclopedia/layout.html" %}

{% block title %}
    Main page - Encyclopedia
{% endblock %}

{% block header %}
    ALL PAGES
{% endblock %}

{% block body %}

    <!-- Alert messages -->
    {% if messages %}
    <div class="row pb-1">
        <div class="col">
            <div class="alert alert-warning">
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'encyclopedia:entry' entry %}"><h4 class="text-dark">{{ entry }}</h4></a></li>
        {% endfor %}
    </ul>

{% endblock %}