{% extends "encyclopedia/layout.html" %}

{% block title %}
    Main page - Encyclopedia
{% endblock %}

{% block header %}
    ALL PAGES
{% endblock %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center alert-warning py-1">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row p-5">
        {% for entry in entries %}
        <div class="col-3 pb-1">
            <li class="text-secondary"><a href="{% url 'encyclopedia:entry' entry %}"><h4 class="text-secondary">{{ entry }}</h4></a></li>
        </div>
        {% endfor %}
    </div>

{% endblock %}