{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page - Encyclopedia
{% endblock %}

{% block body %}
    <div class="row pb-4">
        <div class="col pt-4">
            <h2>Add new page</h2>
        </div>
    </div>

    <!-- Alert messages -->
    {% if messages %}
    <div class="row pb-1">
        <div class="col">
            <div class="alert alert-warning">
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Info about formating new entry -->
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <h4 class="alert-heading">Writing and formatting</h4>
                <p>Please ensure that when writing content for new page, you are using Markdown.</p>
                <hr>
                <p class="mb-0">For basic writing and formating guide, visit <a href="https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax">GitHub Docs</a>.</p>
            </div>      
        </div>
    </div>

    <!-- Form with title and content for new entry -->
    <form action="{% url 'encyclopedia:new_page' %}" method="POST">
        {% csrf_token %}
        <div class="row pt-3">
            <div class="col">
                <label for="newPageTitleInput"><h6>Type title for new page below.</h6></label>
                <input name="title" class="form-control" type="text" id="newPageTitleInput" required>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col" style="height: 45vh;">
                <label for="newPageContentInput"><h6>Type Markdown formatted content for new page below.</h6></label>
                <textarea name="content" style="resize:none; height: 90%;" class="form-control text-field-custom" id="newPageContentInput" required></textarea>
            </div>
        </div>
        <input class="btn btn-outline-success" type="submit" value="Add new page">
    </form>
    

{% endblock %}