{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search - Encyclopedia
{% endblock %}

{% block header %}
    SEARCH RESULTS
{% endblock %}

<!-- Messages -->
{% block message %}
        {% if messages %}
        <div class="col text-center info-bar py-1">
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block body %}

    {% if list_of_entries %}
    <div class="row p-5">
    
        {% for entry in list_of_entries %}
        <div class="col-3 pb-1">
            <li class="text-secondary"><a href="{% url 'encyclopedia:entry' entry %}"><h4 class="text-secondary">{{ entry }}</h4></a></li>
        </div>
        {% endfor %}
    
    </div>
    {% else %}
    Unfortunatelly, we couldn't find any matches.
    <br>You can add new entry here.
    {% endif %}

    

{% endblock %}