{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search - Encyclopedia
{% endblock %}

{% block header %}
    SEARCH RESULTS
{% endblock %}

<!-- Messages -->
{% block message %}
        {% if messages %}
        <div class="col text-center info-bar py-1">
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block body %}

    {% if list_of_entries %}
    <ul>
        {% for entry in list_of_entries %}
        <li><a href="{% url 'encyclopedia:entry' entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    Unfortunatelly, we couldn't find any matches.
    <br>You can add new entry here.
    {% endif %}

    

{% endblock %}